extends layout

block content
    if(cart)
        if(cart.items && cart.items.length > 0)
            for item in cart.items
                div(class="item")
                    h3=item.title
                    h4="$" + item.unitPrice
                    form(method="POST" action=`/cart/change-quantity/${item.id}`)
                        label="Quantity: "
                        input(type="number" id="quantity" name="quantity" min="1" value=item.quantity)
                        button="Submit"
                    h5="$" + item.subtotal
                    form(method="POST" action=`/cart/remove-item/${item.id}`)
                        button="Remove from cart"
            h2="Total - $" + cart.total
            a(href="/cart/checkout")
                button="Checkout"
        else
            h2="Your cart is currently empty"
            a(href="/")
                button="Go to store"